In [42]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

In [2]:
import os
os.listdir('/kaggle/input')

['sales-data', 'dataset']

In [3]:
data = [{'name': 'david', 'age': 20, 'city': 'Kigali'}, 
        {'name': 'jose', 'age': 30, 'city': 'Biringa'},
       {'name': 'chris', 'age': 24, 'city': 'Kabuga'}, 
        {'name': 'prince', 'age': 35, 'city': 'kanombe'}]

df= pd.DataFrame(data)
df

     name  age     city
0   david   20   Kigali
1    jose   30  Biringa
2   chris   24   Kabuga
3  prince   35  kanombe

In [4]:
df2= pd.DataFrame({
    'id': [1,2,3],
    'name': ['jovan','peter','prince']
})

df2

   id    name
0   1   jovan
1   2   peter
2   3  prince

In [5]:
df3 = pd.DataFrame(np.random.rand(20,5))
df3.head()

          0         1         2         3         4
0  0.736513  0.012410  0.381973  0.242295  0.898937
1  0.145160  0.401999  0.994497  0.141873  0.133952
2  0.897357  0.278662  0.075999  0.501978  0.127509
3  0.802296  0.432749  0.813432  0.833428  0.191174
4  0.208880  0.356952  0.606209  0.630989  0.539371

In [6]:
list_object = [1,2,3,4,5,6]
pd.Series(list_object)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
print(df.dtypes)
print(df.shape)

name    object
age      int64
city    object
dtype: object
(4, 3)

In [8]:
list_object.sort(reverse=True)
print(list_object)

[6, 5, 4, 3, 2, 1]

In [9]:
df['age']

0    20
1    30
2    24
3    35
Name: age, dtype: int64

In [10]:
df.head(2)

    name  age     city
0  david   20   Kigali
1   jose   30  Biringa

In [11]:
chris_data = df.loc[[0],['name','age','city']]
chris_data

    name  age    city
0  david   20  Kigali

In [12]:
date_index = pd.date_range(start="2025-10-01", end="2025-10-04")
df.index = date_index
df

              name  age     city
2025-10-01   david   20   Kigali
2025-10-02    jose   30  Biringa
2025-10-03   chris   24   Kabuga
2025-10-04  prince   35  kanombe

In [13]:
sorted_df = df.sort_index(ascending=False)
sorted_df

              name  age     city
2025-10-04  prince   35  kanombe
2025-10-03   chris   24   Kabuga
2025-10-02    jose   30  Biringa
2025-10-01   david   20   Kigali

In [14]:
third_row_first = df.iloc[2,0:3]
third_row_first

name     chris
age         24
city    Kabuga
Name: 2025-10-03 00:00:00, dtype: object

#  Data manipulation: sales dataset + visualization

In [15]:
## read csv data

sales_data = pd.read_csv('/kaggle/input/sales-data/data.csv')
print(sales_data.shape)
sales_data.head()

(50, 6)

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [16]:
# check the datatypes
sales_data.dtypes

Date         object
Category     object
Value       float64
Product      object
Sales       float64
Region       object
dtype: object

In [17]:
# check the missing values
sales_data.isnull().sum()

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

In [18]:
# convert Date into datetime datatype
sales_data['Date'] = pd.to_datetime(sales_data['Date'])

In [19]:
sales_data.dtypes

Date        datetime64[ns]
Category            object
Value              float64
Product             object
Sales              float64
Region              object
dtype: object

In [20]:
sales_data['Date'].dt.year.head()

0    2023
1    2023
2    2023
3    2023
4    2023
Name: Date, dtype: int32

In [21]:
# select only 'sales, Category' columns
sales_data[['Sales','Category']].head()

   Sales Category
0  754.0        A
1  110.0        B
2  398.0        C
3  522.0        B
4  869.0        B

In [43]:
# filter rows where Region is 'North'
sales_data[sales_data['Region'] == 'North']

,Date,Category,Value,Product,Sales,Region,Sales_pct_of_category,Sales_diff_from_category_avg,Year,Month,Day,Month_Name
1,2023-01-02,B,39.000000,Product3,110.000000,North,1.288168,-459.284058,2023,1,2,January
4,2023-01-05,B,26.000000,Product3,869.000000,North,10.176525,299.715942,2023,1,5,January
10,2023-01-11,B,7.000000,Product1,842.000000,North,9.860338,272.715942,2023,1,11,January
15,2023-01-16,C,51.744681,Product1,895.000000,North,8.294517,381.178054,2023,1,16,January
22,2023-01-23,B,62.000000,Product3,942.000000,North,11.031400,372.715942,2023,1,23,January
26,2023-01-27,C,71.000000,Product2,619.000000,North,5.736655,105.178054,2023,1,27,January
27,2023-01-28,C,56.000000,Product2,224.000000,North,2.075946,-289.821946,2023,1,28,January
28,2023-01-29,B,51.744681,Product3,617.000000,North,7.225450,47.715942,2023,1,29,January
37,2023-02-07,C,2.000000,Product1,557.130435,North,5.163271,43.308489,2023,2,7,February
48,2023-02-18,C,65.000000,Product3,182.000000,North,1.686706,-331.821946,2023,2,18,February
49,2023-02-19,C,11.000000,Product3,708.000000,North,6.561473,194.178054,2023,2,19,February

In [44]:
# select top sales i.e sales > 800

sales_data[sales_data['Sales'] > 800].head()

,Date,Category,Value,Product,Sales,Region,Sales_pct_of_category,Sales_diff_from_category_avg,Year,Month,Day,Month_Name
4,2023-01-05,B,26.0,Product3,869.0,North,10.176525,299.715942,2023,1,5,January
6,2023-01-07,A,16.0,Product1,936.0,East,10.976897,326.928571,2023,1,7,January
9,2023-01-10,A,22.0,Product2,834.0,West,9.780697,224.928571,2023,1,10,January
10,2023-01-11,B,7.0,Product1,842.0,North,9.860338,272.715942,2023,1,11,January
14,2023-01-15,A,47.0,Product2,893.0,West,10.472616,283.928571,2023,1,15,January

In [24]:
# sort the dataset by date in descending order

sorted_df = sales_data.sort_values(by='Date', ascending=False)
sorted_df.head()

         Date Category  Value   Product  Sales Region
49 2023-02-19        C   11.0  Product3  708.0  North
48 2023-02-18        C   65.0  Product3  182.0  North
47 2023-02-17        B   69.0  Product3  143.0   West
46 2023-02-16        B    6.0  Product1  938.0  South
45 2023-02-15        B   99.0  Product2  599.0   West

In [25]:
print(sales_data['Sales'].mean())

557.1304347826087

In [26]:
# fill missing data
sales_data['Sales'] = sales_data['Sales'].fillna(sales_data['Sales'].mean())
sales_data['Value'] = sales_data['Value'].fillna(sales_data['Value'].mean())
sales_data.sort_values(by='Date', ascending=False).head()

         Date Category  Value   Product  Sales Region
49 2023-02-19        C   11.0  Product3  708.0  North
48 2023-02-18        C   65.0  Product3  182.0  North
47 2023-02-17        B   69.0  Product3  143.0   West
46 2023-02-16        B    6.0  Product1  938.0  South
45 2023-02-15        B   99.0  Product2  599.0   West

# Grouping and Aggregation

In [27]:
# grouping and aggregation
sales_data.groupby('Region')['Value'].mean()

Region
East     42.307692
North    40.226306
South    62.000000
West     61.041371
Name: Value, dtype: float64

In [28]:
sales_data.groupby('Category')['Sales'].max()

Category
A    949.0
B    942.0
C    992.0
Name: Sales, dtype: float64

In [29]:
sales_data.groupby('Category')['Sales'].sum()

Category
A     8527.00000
B     8539.26087
C    10790.26087
Name: Sales, dtype: float64

In [30]:
sales_data.groupby('Product')['Sales'].sum()

Product
Product1     9180.130435
Product2     8488.260870
Product3    10188.130435
Name: Sales, dtype: float64

In [31]:
# multi-aggregation
sales_data.groupby('Product')['Sales'].agg(['sum','mean','count']).rename(columns={"sum": "Total_Sales", "mean": "Average_Sales", "count": "Count_Sales"})

           Total_Sales  Average_Sales  Count_Sales
Product
Product1   9180.130435     573.758152           16
Product2   8488.260870     565.884058           15
Product3  10188.130435     536.217391           19

In [32]:
# group by multiple column
print(sales_data.groupby(['Sales','Category']).first().head())

                     Date      Value   Product Region
Sales Category
108.0 C        2023-01-18  51.744681  Product1   West
110.0 B        2023-01-02  39.000000  Product3  North
143.0 B        2023-02-17  69.000000  Product3   West
155.0 A        2023-02-09  62.000000  Product1   West
164.0 A        2023-02-12  93.000000  Product3   West

In [33]:
# data Transformation, percentage contribution of each productâ€™s Sales
sales_data['Sales_pct_of_category'] = sales_data.groupby('Category')['Sales'].transform(lambda x: x / x.sum() * 100)
sales_data.head()

        Date Category  Value   Product  Sales Region  Sales_pct_of_category
0 2023-01-01        A   28.0  Product1  754.0   East               8.842500
1 2023-01-02        B   39.0  Product3  110.0  North               1.288168
2 2023-01-03        C   32.0  Product2  398.0   East               3.688511
3 2023-01-04        B    8.0  Product1  522.0   East               6.112941
4 2023-01-05        B   26.0  Product3  869.0  North              10.176525

In [34]:
#  how much each Sale differs from the Category average?
sales_data['Sales_diff_from_category_avg'] = sales_data['Sales'] - sales_data.groupby('Category')['Sales'].transform('mean')
sales_data.head(5)

,Date,Category,Value,Product,Sales,Region,Sales_pct_of_category,Sales_diff_from_category_avg
0,2023-01-01,A,28.0,Product1,754.0,East,8.842500,144.928571
1,2023-01-02,B,39.0,Product3,110.0,North,1.288168,-459.284058
2,2023-01-03,C,32.0,Product2,398.0,East,3.688511,-115.821946
3,2023-01-04,B,8.0,Product1,522.0,East,6.112941,-47.284058
4,2023-01-05,B,26.0,Product3,869.0,North,10.176525,299.715942

In [35]:
# Filter categories with total Sales > 150000
filtered_df = sales_data.groupby('Category').filter(lambda x: x['Sales'].sum() > 9000)

filtered_df.head(5)

,Date,Category,Value,Product,Sales,Region,Sales_pct_of_category,Sales_diff_from_category_avg
2,2023-01-03,C,32.000000,Product2,398.0,East,3.688511,-115.821946
7,2023-01-08,C,89.000000,Product1,488.0,West,4.522597,-25.821946
8,2023-01-09,C,37.000000,Product3,772.0,West,7.154600,258.178054
15,2023-01-16,C,51.744681,Product1,895.0,North,8.294517,381.178054
16,2023-01-17,C,93.000000,Product2,511.0,South,4.735752,-2.821946

In [36]:
# filter regions with mean value over 50
filtered_region_over_100 = sales_data.groupby('Region').filter(lambda x: x['Value'].mean() >50)
filtered_region_over_100.head()

,Date,Category,Value,Product,Sales,Region,Sales_pct_of_category,Sales_diff_from_category_avg
5,2023-01-06,B,54.0,Product3,192.000000,West,2.248438,-377.284058
7,2023-01-08,C,89.0,Product1,488.000000,West,4.522597,-25.821946
8,2023-01-09,C,37.0,Product3,772.000000,West,7.154600,258.178054
9,2023-01-10,A,22.0,Product2,834.000000,West,9.780697,224.928571
11,2023-01-12,B,60.0,Product2,557.130435,West,6.524340,-12.153623

# Date Handling

In [37]:
# total monthly sales
sales_data['Year'] = sales_data['Date'].dt.year
sales_data['Month'] = sales_data['Date'].dt.month
sales_data['Day'] = sales_data['Date'].dt.day

# use name of the month
sales_data['Month_Name'] = sales_data['Date'].dt.strftime('%B')
sales_data.head()

,Date,Category,Value,Product,Sales,Region,Sales_pct_of_category,Sales_diff_from_category_avg,Year,Month,Day,Month_Name
0,2023-01-01,A,28.0,Product1,754.0,East,8.842500,144.928571,2023,1,1,January
1,2023-01-02,B,39.0,Product3,110.0,North,1.288168,-459.284058,2023,1,2,January
2,2023-01-03,C,32.0,Product2,398.0,East,3.688511,-115.821946,2023,1,3,January
3,2023-01-04,B,8.0,Product1,522.0,East,6.112941,-47.284058,2023,1,4,January
4,2023-01-05,B,26.0,Product3,869.0,North,10.176525,299.715942,2023,1,5,January

In [38]:
# Total monthly sales
monthly_sales = sales_data.groupby(['Year', 'Month_Name'])['Sales'].sum().reset_index()
monthly_sales

# if this Date was the index
# df = df.set_index('Date')
# monthly_sales = df['Sales'].resample('M').sum()
# print(monthly_sales)

   Year Month_Name         Sales
0  2023   February   8954.391304
1  2023    January  18902.130435

In [39]:
# maximum monthly value
monthly_value = sales_data.groupby(['Year', 'Month'])['Value'].sum().reset_index()
max_month = monthly_value.loc[monthly_value['Value'].idxmax()]
max_month

Year     2023.000000
Month       1.000000
Value    1562.234043
Name: 0, dtype: float64

# Visualization practice

In [40]:
# implot packages
import matplotlib.pyplot as plt
import seaborn as sn

In [41]:
# line plot